In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
from tqdm import tqdm_notebook as tqdm

In [3]:
df = pd.read_csv('janata train.csv')

In [4]:
df.head()

,session_id,startTime,endTime,ProductList,gender
0,u16159,15/12/14 18:11,15/12/14 18:12,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,female
1,u10253,16/12/14 14:35,16/12/14 14:41,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,male
2,u19037,01/12/14 15:58,01/12/14 15:58,A00002/B00001/C00020/D16944/,female
3,u14556,23/11/14 2:57,23/11/14 3:00,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,female
4,u24295,17/12/14 16:44,17/12/14 16:46,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,male

In [5]:
df['gender'].replace(0, 'female',inplace=True)
df['gender'].replace(1, 'male',inplace=True)

gen  = {'female':0,'male':1}

In [6]:
df['gender'] = df['gender'].map(gen)

In [7]:
df.head()

,session_id,startTime,endTime,ProductList,gender
0,u16159,15/12/14 18:11,15/12/14 18:12,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,0
1,u10253,16/12/14 14:35,16/12/14 14:41,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,1
2,u19037,01/12/14 15:58,01/12/14 15:58,A00002/B00001/C00020/D16944/,0
3,u14556,23/11/14 2:57,23/11/14 3:00,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,0
4,u24295,17/12/14 16:44,17/12/14 16:46,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,1

In [10]:
df['startTime'] = pd.to_datetime(df['startTime'], format = '%d/%m/%y %H:%M')
df['endTime'] = pd.to_datetime(df['endTime'], format = '%d/%m/%y %H:%M')

In [11]:
df['duration'] = df['endTime'] - df['startTime']

In [12]:
df['duration'] = df['duration'].astype('timedelta64[m]')

In [13]:
# df["year"] = df['startTime'].dt.year,
# df["month"] = df['startTime'].dt.month,
# df["dayofweek"]= df['startTime'].dt.dayofweek,
# df["quarter"]= df['startTime'].dt.quarter,
# df["hour"]= df['startTime'].dt.hour,
df.dtypes

# For better understanding
#  Category; Sub Category; Sub sub category, Product Id

session_id             object
startTime      datetime64[ns]
endTime        datetime64[ns]
ProductList            object
gender                  int64
duration              float64
dtype: object

In [14]:
df.head()

,session_id,startTime,endTime,ProductList,gender,duration
0,u16159,2014-12-15 18:11:00,2014-12-15 18:12:00,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,0,1.0
1,u10253,2014-12-16 14:35:00,2014-12-16 14:41:00,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,1,6.0
2,u19037,2014-12-01 15:58:00,2014-12-01 15:58:00,A00002/B00001/C00020/D16944/,0,0.0
3,u14556,2014-11-23 02:57:00,2014-11-23 03:00:00,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,0,3.0
4,u24295,2014-12-17 16:44:00,2014-12-17 16:46:00,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,1,2.0

In [15]:
# df['ProductList']= df['ProductList'].astype(str)
df['ProductListCount'] = df['ProductList'].apply(lambda x: len(x.split(";")))

In [16]:
df.head()

,session_id,startTime,endTime,ProductList,gender,duration,ProductListCount
0,u16159,2014-12-15 18:11:00,2014-12-15 18:12:00,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,0,1.0,4
1,u10253,2014-12-16 14:35:00,2014-12-16 14:41:00,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,1,6.0,7
2,u19037,2014-12-01 15:58:00,2014-12-01 15:58:00,A00002/B00001/C00020/D16944/,0,0.0,1
3,u14556,2014-11-23 02:57:00,2014-11-23 03:00:00,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,0,3.0,3
4,u24295,2014-12-17 16:44:00,2014-12-17 16:46:00,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,1,2.0,2

In [18]:
#TO create Category Column
def category(x):
    
    cat = []
    
    for i in x.split(';'):
        cat.append(i.split('/')[0])
    
    cat = list(set(cat))
    
    return cat

# Sub Category
def sub_category(x):
    
    sub = []
    
    for i in x.split(';'):
        sub.append(i.split('/')[1])
    
    sub = list(set(sub))
    
    return sub

#Sub Sub Category

def sub_sub_category(x):
    
    sub_sub = []
    
    for i in x.split(';'):
        sub_sub.append(i.split('/')[2])
    
    sub_sub = list(set(sub_sub))
    
    return sub_sub

#Product ID

def product(x):
    
    prod = []
    
    for i in x.split(';'):
        prod.append(i.split('/')[3])
    
    prod = list(set(prod))
    
    return prod

# df['category'] = df['ProductList'].apply(category)
# df['sub_category'] = df['ProductList'].apply(sub_category)
# df['sub_sub_category'] = df['ProductList'].apply(sub_sub_category)
# df['Product'] = df['ProductList'].apply(product)
#

In [19]:
df.head()

,session_id,startTime,endTime,ProductList,gender,duration,ProductListCount
0,u16159,2014-12-15 18:11:00,2014-12-15 18:12:00,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,0,1.0,4
1,u10253,2014-12-16 14:35:00,2014-12-16 14:41:00,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,1,6.0,7
2,u19037,2014-12-01 15:58:00,2014-12-01 15:58:00,A00002/B00001/C00020/D16944/,0,0.0,1
3,u14556,2014-11-23 02:57:00,2014-11-23 03:00:00,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,0,3.0,3
4,u24295,2014-12-17 16:44:00,2014-12-17 16:46:00,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,1,2.0,2

In [23]:
from tqdm import tqdm_notebook

In [29]:
#Converting Data from wide to Long format

def extrapolate_data(train):
    train_list = []
    test_list = []

    for idx, row in tqdm_notebook(train.iterrows()):
        sess_id = row['session_id']
        start_time = row['startTime']
        end_time = row['endTime']
        gender = row['gender']
        product_count = row['ProductListCount']
        duration = row['duration']

        products = row['ProductList'].split(';')
        products = [product.split("/") for product in products]

    #     first_product = products[0]
    #     last_product = products[-1]

        for product in products:
            train_list.append([sess_id, start_time, end_time, product[0], product[1], product[2], product[3],
    #                            first_product[0], first_product[1], first_product[2], first_product[3],
    #                            last_product[0], last_product[1], last_product[2], last_product[3],
                               product_count, duration, gender])
            
    train_df = pd.DataFrame(train_list, 
                            columns=['session_id', 'start_time', 'end_time', 'category_code', 'sub_category_code', 
                                     'sub_sub_category_code', 'product_code', 
    #                                  'first_category_code', 'first_sub_category_code', 'first_sub_sub_category_code',
    #                                  'first_product_code',
    #                                  'last_category_code', 'last_sub_category_code', 'last_sub_sub_category_code',
    #                                  'last_product_code',
                                     'product_list_count', 'duration', 
                                     'gender'])
    return train_df

In [37]:
for idx,row in df.head().iterrows():
    print(row['session_id'],row['gender'])

u16159 0
u10253 1
u19037 0
u14556 0
u24295 1

In [30]:
train = extrapolate_data(df)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  import sys

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

In [32]:
df.head(2)

,session_id,startTime,endTime,ProductList,gender,duration,ProductListCount
0,u16159,2014-12-15 18:11:00,2014-12-15 18:12:00,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,0,1.0,4
1,u10253,2014-12-16 14:35:00,2014-12-16 14:41:00,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,1,6.0,7

In [31]:
train.head()

,session_id,start_time,end_time,category_code,sub_category_code,sub_sub_category_code,product_code,product_list_count,duration,gender
0,u16159,2014-12-15 18:11:00,2014-12-15 18:12:00,A00002,B00003,C00006,D28435,4,1.0,0
1,u16159,2014-12-15 18:11:00,2014-12-15 18:12:00,A00002,B00003,C00006,D02554,4,1.0,0
2,u16159,2014-12-15 18:11:00,2014-12-15 18:12:00,A00002,B00003,C00006,D28436,4,1.0,0
3,u16159,2014-12-15 18:11:00,2014-12-15 18:12:00,A00002,B00003,C00006,D28437,4,1.0,0
4,u10253,2014-12-16 14:35:00,2014-12-16 14:41:00,A00001,B00009,C00031,D29404,7,6.0,1

In [38]:
df.shape,train.shape

((10500, 7), (23251, 10))

In [40]:
train['category_code'].value_counts()

A00002    14931
A00003     3822
A00001     3300
A00005      413
A00004      261
A00006      182
A00011      130
A00010       75
A00007       52
A00009       47
A00008       38
Name: category_code, dtype: int64

In [46]:
print("Sub_category Unique values {}".format(len(train['sub_category_code'].value_counts())))
print("Sub_sub_category Unique values {}".format(len(train['sub_sub_category_code'].value_counts())))
print("Products Unique values {}".format(len(train['product_code'].value_counts())))

Sub_category Unique values 85
Sub_sub_category Unique values 360
Products Unique values 16503

In [ ]:
len(train['sub_category_code'].value_counts())

In [47]:
x = 'A00002/B00003/C00006/D28435/'

In [50]:
x[:6], x[7:13]

('A00002', 'B00003')

In [85]:
a = [15,16,1,2,12]

In [108]:
d = {}
for i, num in enumerate(sorted(a)):
    d.setdefault(num,i)
    print(num,i)

1 0
2 1
12 2
15 3
16 4

In [133]:
a = [1,2,3,3]

In [134]:
d = {}
for num in a:
    if num in d:
        d[num] += 1
    else:
        d[num] = 1

In [135]:
d

{1: 1, 2: 1, 3: 2}

In [139]:
for k,v in d.items():
    print (v,k)

1 1
1 2
2 3